.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #383e56;
  .container {
    margin-top: -200px;
    .title {
      color: #fff;
      font-weight: 700;
      letter-spacing: 2px;
      font-size: 46px;
      margin-bottom: 30px;
      width: 100%;
      text-align: center;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      height: 140px;
      justify-content: space-between;
    }
  }
  .record-wrapper {
    margin-top: 20px;
    width: 300px;
    color: #fff;
    font-size: 12px;
    .user-wrapper {
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      line-height: 40px;
      display: flex;
      justify-content: space-between;
      .span-wrapper {
        display: inline-flex;
        span {
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .detail-wrapper {
    .the-item {
      margin-top: 16px;
      .the-time {
        font-size: 14px;
        color: #2ecc71;
        font-weight: 600;
        margin-bottom: 8px;
        span {
          &:first-child {
            margin-right: 10px;
          }
        }
      }
      .the-message {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
